
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='porto.css') }}">
</head>

<body>
    <header>
        <div class="logo rotate" style="cursor:pointer;"> 
           <img src="static/27913edc-893c-440f-85be-3a733de84310.jpg" style="width:150px;height:100px;"></div>
            <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="menu">
            <li ><a  style=" font-size:1.2em;" href="index.html" onclick="toggleMenu()">  BACK Home</a></li>
           

        </ul>

    </header>
    <section class="banner landing__container" id="home">
       
    <div class="film">
        <div class="filminfo">

        <img src="static/download (4).jpg" alt="filmphoto"/>
            <button class="watch">Watch</button>
        </div>
        <div  class="recommended"><button style="background-color: rgb(54, 138, 216);"> Next</button></div><br>
        <div> <img src="static/download (3).jpg" alt="filmphoto"/>
            <img src="static/download (5).jpg" alt="filmphoto"/>
            <img src="static/download (2).jpg" alt="filmphoto"/>
        </div>
       
        
    </div>



    </section>
    

   
        <div class="copyright ">
            <p>copyright @Group30 all right are reserved.</p>
        </div>
        <script src=" porto.js " async defer></script>
</body>

</html>

