<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="porto.css">
</head>

<body>
    <header>
        <div class="logo rotate" style="cursor:pointer;"> 
           <img src="images/27913edc-893c-440f-85be-3a733de84310.jpg" style="width:150px;height:100px;"></div>
            <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="menu">
            <li ><a  style=" font-size:1.9em;" href="index.html" onclick="toggleMenu()">  Back Home</a></li>
           

        </ul>

    </header>    <section class="banner landing__container" id="home">
      

        <div class="filminfo">

                    <button class="watch">Reccomendations</button>
        </div>
        <div  class="recommended"><button style="background-color: rgb(0, 0, 0);"> History</button></div><br>



    </section>
    

   
        <div class="copyright ">
            <p>copyright @Group30 all right are reserved.</p>
        </div>
        <script src=" porto.js " async defer></script>
</body>

</html>